/* style.css */
/* @import "tailwindcss"; */
@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@reference "tailwindcss";

@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Kantumruy Pro', sans-serif;
  background-color: #FFFFFF;
}

:root {
  --color-primary: #191996;
  --color-secondary: #8F00FF;
  --color-tertiary: #0A0F24;
}

  .container {
    @apply mx-auto px-4 sm:px-6 lg:px-8;
  }
  .btn-primary {
  @apply text-white text-sm py-3 px-6 rounded-full transition border-none bg-violet-800;
  font-family: "Kantumruy Pro", sans-serif;
}

.btn-secondary {
  @apply text-white text-sm py-3 px-6 rounded-full transition border-none bg-violet-500;
   background-color: var(--color-primary);
 
  font-family: "Kantumruy Pro", sans-serif;
}
.font-kantumruy {
  font-family: "Kantumruy Pro", sans-serif;
}
.badge{
  @apply inline-flex items-center px-4 py-2 bg-sky-500 text-white text-sm font-medium rounded-full;
}
.header-text{
  @apply text-4xl md:text-5xl font-bold; 
}
.sub-text{
  @apply max-w-2xl text-lg text-shadow-white leading-relaxed;
}
.card{
  @apply rounded-xl shadow-sm  transition-all duration-300 hover:-translate-y-1 p-8 border border-amber-50;  
}

/* src/assets/styles.css or main.css */
.bg-primary {
  background: linear-gradient(90deg, #0ea5e9, #4c1d95); /* sky-500 → violet-800 */
  -webkit-background-clip: text; /* for text gradient */
  -webkit-text-fill-color: transparent; /* show gradient on text */
}
.bg-secondary {
  background: linear-gradient(90deg,#8b5cf6, #075985); /* violet-500 → sky-800 */
  -webkit-background-clip: text; /* for text gradient */
  -webkit-text-fill-color: transparent; /* show gradient on text */
}
